.App {
  text-align: center;
}

/* Css para pagina de las horas */

body {
  background-color: #F2F3F7;
  font-size: 17px;
}


.logo{
  width: 186px;
  height: 51px;
}


.nav {
  display: flex;
}
.items{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* recuerda adaptar un position fixed para que se mueva el nav mientras se scrolea la pagina */

.nav-dad{
  background-color: white;
  box-shadow: 8px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.navbar-nav1 {
  display: flex;
  align-items: center;
  padding: 4px;
  gap: 15px;
}

.sesion{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  margin-right: 20px;
}

.titulo {
  margin-top: 30px;
  font-size: 35px;
}

.main-content{
  background-color: white ;
}

.servicio{
  display: block;
}

/* .imagen-service{
  width: 600px;
  height: 400px;
} */
